/*style reset*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

ul[class],
ol[class] {
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

ul[class],
ol[class] {
    list-style: none;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

img {
    max-width: 100%;
    display: block;
}

article>*+* {
    margin-top: 1em;
}

input,
button,
textarea,
select {
    font: inherit;
}

@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./cosmos.jpg);
    background-position: left bottom;
    background-repeat: repeat;
    background-size:30%;
}

textarea {
    margin-top: 80px;
    width: 800px;
    height: 160px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid rgb(216, 216, 216);
    border-radius: 3px;
    background-color: white;
    box-shadow: 0px 0px 6px 0px rgba(89, 226, 199, 1);
    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(44, 44, 44);
    resize: none;
    outline: none;
}

.keys-container {
    margin-top: 30px;
    background-color: rgb(89, 226, 199);
    display: flex;
    flex-wrap: wrap;
    width: 876px;
    height: 300px;
    border-radius: 5px;
    padding: 3px;
    border: 1px solid black;
}

li {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    height: 52px;
    width: 52px;
    color: rgb(89, 226, 199);
    background-color: rgb(54, 54, 54);
    margin: 3px;
    border-radius: 3px;
    border: 1px solid rgb(44, 44, 44);
}

.functional,
.lang {
    font-size: 14px;
}

.keybord-row {
    display: flex;
    justify-content: flex-start;
}

.backspace {
    width: 110px;
}

.tab,
.delet,
.capsLock,
.enter,
.delete,
.ctrlLeft,
.ctrlRight,
.altLeft,
.altRight {
    width: 80px;
}

.shiftLeft,
.shiftRight {
    width: 109px;
}

.space {
    width: 228px;
}

li:hover {
    cursor: pointer;
    background-color: rgb(27, 27, 27);
    color: white;
}

.keystroke {
    background-color: rgb(27, 27, 27);
    box-shadow: 0px 0px 4px 3px rgb(255, 255, 255);
    color: white;
}

p {
    margin-top: 10px;
    width: 800px;
    text-align: center;
    font-size: 15px;
    letter-spacing: 1px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-shadow: 1px 0 1px #000,
        0 1px 1px #000,
        -1px 0 1px #000,
        0 -1px 1px #000;
}

.smile {
    border: 0;
    background-color: transparent;
}

.smile:hover {
    background-color: transparent;
    cursor: default;
}